body{
    margin: o auto;
    background-color: rgb(240, 240, 240);
}
/* header */
header{
    background-image:url(../images/banner.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    width: 100%;
}
header .divEpilogue{
    text-align: center;
    color: white;
    padding-top: 80px;
}
header .divEpilogue h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
header .divEpilogue hr{
    width: 350px;
    opacity: 0.33;
}
header .divEpilogue p{
    opacity: 0.53;
}
/* section avec icone diamant */
.sectionDiamant{
    margin: 150px 150px;
}
.sectionDiamant div{
    text-align: center;
    padding: 100px;
    background-color: white;
    margin-top: -100px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.sectionDiamant div i{
    border: solid gray 2px;
    border-radius: 50%;
    padding: 10px;
}
/* button */
button{
    padding: 15px;
    margin-top: 8px;
    border: black solid 1px;
    border-radius: 5px;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
}
a:hover button{
    color: red;
    border: red solid 1px;
}

/* section photos */
.divGalerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
}
.divCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex: 1; */
    width: 40%;
}
.sectionPhoto .divCard .cardTitrePhoto_parent{
    background-size: contain;
    background-image: url(../images/pic01.jpg);
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 1px;
    
}
.sectionPhoto .divCard h1{
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    padding-top: 72px;
    font-size: 25px;
}
.sectionPhoto .divCard .cardTexte{
    text-align: center;
    justify-content: center;
    /* width: 30%; */
    /* display: flex; */
    background-color: white;
    flex-direction: column;
    /* margin: 10px 430px; */
    margin: 11px;   
    color: gray;
}
/*  Dernière section */ 
.lastSection{
    text-align: center;
    justify-content: center;
    color: gray;
    
}
hr{
    color: gray;
    width: 80px;
    margin-top: 50px;
}
footer div{
    text-align: center;
    justify-content: center;
    color: gray;
}